appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
CacheControl==0.14.2
Django==4.2.11
django-cors-headers==4.7.0
django-extensions==3.2.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
firebase-admin==6.7.0
flask-cors==5.0.1
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-status==1.71.0
httplib2==0.22.0
jsonpointer==2.1
lxml==5.2.1
marshmallow==3.26.1
matplotlib==3.9.2
numpy==1.26.4
packaging==24.2
proto-plus==1.26.1
protobuf==5.29.4
psycopg2-binary==2.9.10
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pynndescent==0.5.13
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-decouple==3.8
pytz==2025.2
pywin32==305.1
PyYAML==6.0.2
rsa==4.9.1
scikit-learn==1.6.1
setuptools==75.1.0
sqlparse==0.4.4
typing_extensions==4.13.2
tzdata==2025.2
umap-learn==0.5.7
uritemplate==4.1.1
wheel==0.44.0